# Node
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
openapi-ts-error-*

# Nx / Vite
dist
.tmp
.nx
.vite

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

node_modules
dist
.idea

*.orig

package-lock.json